<div class="main-container">
  <div class="d-flex flex-column align-items-center">
    <h1 class="mt-4 text-white">Welcome {{ user.name }} {{ user.surname }}</h1>
    <h2 class="text-white">You are a wizard now!</h2>
  </div>
  <div class="mt-5 newspaper container">
    <div class="row d-flex justify-content-center">
      <div class="col-10 first-text">
        <div>
          <h1
            class="d-flex justify-content-center border-bottom border-5 border-black"
          >
            The Daily Prophet
          </h1>
        </div>
        <div
          class="d-flex flex-column align-items-center border border-5 border-black"
        >
          <h2
            class="fs-2 bg-dark text-white w-100 d-flex justify-content-center"
          >
            Hogwarts reopen after the battle of the last year
          </h2>
          <h3>Full report will be given next semester</h3>
        </div>
        <div class="mt-4 w-100 border border-5 border-black p-2 rounded">
          <img class="w-100" src="https://i.gifer.com/QpfC.gif" alt="" />
          <h1 class="name-container w-100">
            {{ user.name }} {{ user.surname }}
          </h1>
          <h1 class="name-container-second bg-dark text-white w-100">
            Enters at Hogwarts for the first time
          </h1>
          <div class="d-flex">
            <h2 class="second-text fs-1 bg-dark text-white">Data</h2>
            <div class="w-100">
              <div class="d-flex justify-content-center">
                <h2>Name: {{ user.name }}</h2>
                <h2 class="ms-5">House: {{ randomHouse }}</h2>
                <h2 class="ms-5">Animal: {{ randomAnimal }}</h2>
              </div>
              <div class="d-flex justify-content-center">
                <h2>Surname: {{ user.surname }}</h2>
                <h2 class="ms-3">Wand: {{ randomWand }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div
      class="final-container d-flex flex-column align-items-center w-50 rounded-pill mt-3"
    >
      <h1 class="mt-3 mb-0 text-white">AFTER ALL THIS TIME?</h1>
      <h2 class="mt-3 text-white">ALWAYS</h2>
    </div>
  </div>
  <div class="bottom-part mt-5 mb-0 p-2 d-flex justify-content-around">
    <div class="text-white mt-4">
      <h4 class="fw-bold text-danger">Visit Hogwarts</h4>
      <h4 class="mt-3">Hogwarts Castle</h4>
      <h4>Alnwick Castle, England</h4>
      <h4 class="mt-5">Send an owl to confirm</h4>
    </div>
    <div class="text-white mt-4">
      <h4 class="fw-bold text-danger">Quick Links</h4>
      <div class="d-flex flex-column justify-content-around">
        <div class="d-flex align-items-center">
          <a
            class="text-decoration-none text-white fs-4"
            href="https://www.hobbitontours.com/"
            >Set off for the middle earth</a
          >
          <i class="bi bi-link ms-2 fs-5"></i>
        </div>
        <div class="d-flex align-items-center">
          <a
            class="text-decoration-none text-white fs-4"
            href="https://www.viaggiareallehawaii.it/isola/kauai/parchi-kauai/napali-coast.html"
            >See the dinosaurs in Nublar Island</a
          >
          <i class="bi bi-link ms-2 fs-5"></i>
        </div>
        <div class="d-flex align-items-center">
          <a
            class="text-decoration-none text-white fs-4"
            href="https://www.minube.it/posto-preferito/wallilabou-bay-a12201"
            >Join Jack Sparrow in one of his adventures</a
          >
          <i class="bi bi-link ms-2 fs-5"></i>
        </div>
      </div>
    </div>
  </div>
</div>
