.main-container {
  background-image: url(https://images6.alphacoders.com/130/1305167.jpg) ;
  height: 100%;
  background-size: cover;
  font-family: 'Harry Potter', sans-serif;                                             
}
.newspaper {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/158/317/311/texture-old-paper-wallpaper-preview.jpg);
  font-family: "Impact", sans-serif;
  padding: 12px;
  border-radius: 20px;
}
.name-container {
  font-size: 5.5rem;
}
.name-container-second {
  font-size: 3.9rem;
}
.second-text {
writing-mode: vertical-rl;
transform: rotate(180deg);
margin: 0;
width: 7%;
padding: 10px;
}
.final-container {
  text-shadow: 17px 8px 20px white;
}
.bottom-part {
background-color: rgb(41, 37, 37);
  font-family: "Roboto", sans-serif;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}

