.upper-part {
    background-image: url(https://c1.wallpaperflare.com/preview/351/806/415/cinema-movie-theater-film-retro.jpg);
    height: 70vh;
    background-position: center;
    box-shadow: inset 14px -20px 20px 30px black;
    text-shadow: 9px 4px 8px black;
}
.upper-part h1 {
    text-transform: capitalize;
}

img {
    height: 200px;
    width: 150px;
}
