.main-container {
    background-image: url(https://i.pinimg.com/736x/a0/a1/a7/a0a1a728dc9f084f26db69e8964179a7.jpg);
    font-family: 'Comic Sans MS', cursive;
    font-weight: 400;
    
}
.cinema-image  {
    height: 100%;
    width: 100%;
    opacity: 0.3;
    position: relative;
    
    
}
.text-absolute {
    position:absolute ;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 8px 6px 7px black;
    font-size: 80px;
}
img {
    width: 250px;
    height: 330px;
}
.oscar {
    position: relative;
}
.oscar img {
    height: 100%;
    width: 100%;
}
.text-absolute-second {
    position: absolute;
    top: 50%;
    text-shadow: 8px 6px 7px black;
    font-size: 80px;
    color: #fdda12;
    text-transform: uppercase;
}
.oscar-container img{
    width: 50%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 5px whitesmoke;
}
.oscar-container {
    color: rgb(197, 191, 191);
}
.carousel-container img {
    height: 200px;
    width: 400px;
    opacity: 0.5;
}
@media screen and (min-width: 1200px) and (max-width: 1345px) {
    .text-absolute {
        font-size: 70px
    }
    .text-absolute-second {
        font-size: 70px
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .text-absolute {
        font-size: 50px
    }
    .text-absolute-second {
        font-size: 50px
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .text-absolute {
        font-size: 40px;
        top: 30%
    }
    .text-absolute-second {
        font-size: 40px;
        top: 30%
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .text-absolute {
        font-size: 34px;
        top: 30%
    }
    .text-absolute-second {
        font-size: 34px;
        top: 30%
    }
}
@media screen and (max-width: 575px)  {
    .text-absolute {
        font-size: 26px;
        top: 25%
    }
    .text-absolute-second {
        font-size: 26px;
        top: 25%
    }
    .carousel-container img {
        width: 200px;
    }
}