.main-container {
    background-image: url(https://wallpapers.com/images/featured/movie-9pvmdtvz4cb0xl37.jpg);
    height: 85.5vh;
    color: rgb(253, 253, 253);
}
.container {

background-image: url(https://static.vecteezy.com/system/resources/previews/002/217/896/original/cinema-wallpaper-social-media-message-background-vector.jpg);
background-size: cover;


}
.details {
   text-shadow: 2px 2px black;
}
img {
    width: 150px;
    height: 200px;
    border: none;
}
@media screen and (max-width: 1199px) {
    .container {
        background-position: top;
    }
}